@import url(sanitize.css);

body {
  margin: 0;
  
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemon-grid {
  display: flex;
  flex-wrap: wrap;
  width: 80%;

  .pokemon-container {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        z-index: 99;
        border: 1px solid black;
    }

    img {
       pointer-events: none;
       
    
    }
  }
}



@media screen and (min-width: 1024px) {
  .pokemon-grid {
    .pokemon-container {
        width: 65px;
        height: 65px;
    
        img {
          height: 192px;
          width: 192px;
        }
      }
  }
  
}

