@import url(sanitize.css);

:root {
  --header-height: 150px;
}

body {
  margin: 0;
  
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

header {
  height: var(--header-height);
  width: 100%;
  position: fixed;
  top: 0;
  background-color: blue;
  z-index: 99;
  display: flex;

  .middle {
    .targets {
      display: flex;
    }
  }
}

.pokemon-grid {
  margin-top: calc(var(--header-height) + 50px);
  display: flex;
  flex-wrap: wrap;
  width: 80%;

  .pokemon-container {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;


    img {
       pointer-events: none;
       
    
    }
  }
}



@media screen and (min-width: 1024px) {
  .pokemon-grid {
    .pokemon-container {
        width: 70px;
        height: 70px;
    
        img {
          height: 192px;
          width: 192px;
        }
      }
  }
  
}

